

<div class='container'>
	<div class='row'>


    <%= render 'users/list', users: @users %>


	<h2 style='color: green;'><span class="glyphicon glyphicon-user" aria-hidden="true" style='color: green;'></span> All users</h2>

		<div class='col-xs-9'>
			<table class="table table-space col-xs-12">
				<thead>
					<tr>
					  <th>image</th>
				      <th>name</th>
				      <th colspan="2"></th>
				    </tr>
				</thead>
	            <% @users.each do |user| %>
				<tbody>
				  <tr>
					<td><%= attachment_image_tag user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class: "img-circle pull-left profile-thume" %>
					</td>
					<td><%= user.name %>
					</td>
					<td><%= link_to "Show", user_path(user.id), class: "label label-success user_#{user.id}" %>
					</td>
				 </tr>
				</tbody>
			    <% end %>
			<table>

		</div>


	</div>
</div>